<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" /> 
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" /> 
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="es-MX" />
  <meta name="title" content="" /> 
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="Language" content="Spanish" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="robots" content="all | index | follow" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Afirme | Administrador </title>
  
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/transaccion.css" rel="stylesheet" type="text/css" />
  <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="administrador">

  <header><div class="container">

    <div class="head-izq">
      <a id="logo" href="HOME_home-comercial.html"><img src="assets/img/icons/logotipo.png" alt="Afirme"></a>

      <a class="btn-menu">
        <span class="linea"></span><span class="linea"></span><span class="linea"></span>
        <span class="notificaciones">10</span>
      </a>
    </div>

    <div class="head-der">

      <div class="head-btns">
        <a class="avatar">
          <img src="assets/img/photos/avatar2.png" height="36" width="36" alt="Jessica Arévalo">
          <span class="notificaciones">10</span>
        </a>
        <a href="#" class="btn"><span class="txt">CERRAR SESIÓN</span><span class="icon icon-exit"></span></a>
      </div>
      <div class="head-datos">
        <p>¡Bienvenida! <strong>Ing. Jessica Andrea Lissette Arévalo Betancur</strong></p>
        <p class="f12">Contrato: <strong>1234567890</strong> Último acceso: <strong>25-nov-14, 16:30 hrs.</strong></p>
      </div>

    </div>

  </div></header>

  <section><div class="container xs-p0">

    <article>

      <div class="col9 xs-col12 xs-p0"><div class="contenido">

        <div class="p15 clearfix"><div class="tabs2 tabs-admin">
          <a class="col6 act" href="ADMIN_Home-usuarios.html">
            <img class="mr10" src="assets/img/icons/usuarios.svg" alt="">
            <span class="h4 m0">Listado de Usuarios</span>
          </a>          
          <a class="col6" href="ADMIN_Home-usuarios-tokens.html">
            <img class="mr10" src="assets/img/icons/token-gris.svg" alt="">
            <span class="h4 m0">Tokens Disponibles</span>
          </a>
        </div></div>

        <div class="clearfix header-per"><div class="relative">
          <input type="text" placeholder="Buscar Usuario">
          <button class="icon icon-search"></button>
        </div></div>

        <div class="p20 xs-permisos">

          <div class="bbot mb20"><div class="row mb20">
            <div class="col4 xs-col12"><a class="open-perm show-xs icon icon-right"></a>
              <p class="h6 row"><span class="col8"><strong>FINANZAS</strong> - Supervisor </span><span class="col4"><span class="label bgturq">Activo</span></span></p>
              <p class="advertencia"><a href="#" class="icon icon-warning tooltip"><span><span>Éste token esta próximo a vencerse, solicita un reemplazo a tu sucursal.</span></span></a><span class="h6"> Token: 116877652</span> </p>
            </div>
            <div class="col8 xs-col12 xs-left" align="right">
              <div class="acciones">
                <a class="btn gris mr10 btn-edit"><span class="icon icon-t-edit mr10"></span> editar</a>
                <a class="btn gris mr10 btn-permisos"><img class="mr10" src="assets/img/icons/permisos.svg" alt=""> Permisos</a>
                <a href="#" class="btn gris"><img class="mr10" src="assets/img/icons/list.svg" alt=""> PERSONALIZAR menú</a>
              </div>
              <div class="edicion hidden">
                <a href="#" class="btn verde">Perfil</a>
                <a href="#" class="btn verde">Contraseña</a>
                <a href="#" class="btn verde">Reemplazar Token</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
              <div class="permisos hidden">
                <a href="#" class="btn verde">Cuentas Orígen</a>
                <a href="#" class="btn verde">Cuentas Destino</a>
                <a href="#" class="btn verde">Permisos Usuario</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
            </div>
          </div></div>

          <div class="bbot mb20"><div class="row mb20">
            <div class="col4 xs-col12"><a class="open-perm show-xs icon icon-right"></a>
              <p class="h6 row"><span class="col8"><strong>NÓMINA</strong> - Operador </span><span class="col4"><span class="label bgturq">Activo</span></span></p>
              <p class="advertencia"><a href="#" class="icon icon-warning tooltip"><span><span>Éste token esta próximo a vencerse, solicita un reemplazo a tu sucursal.</span></span></a><span class="h6"> Token: 116877652</span> </p>
            </div>
            <div class="col8 xs-col12 xs-left" align="right">
              <div class="acciones">
                <a class="btn gris mr10 btn-edit"><span class="icon icon-t-edit mr10"></span> editar</a>
                <a class="btn gris mr10 btn-permisos"><img class="mr10" src="assets/img/icons/permisos.svg" alt=""> Permisos</a>
                <a href="#" class="btn gris"><img class="mr10" src="assets/img/icons/list.svg" alt=""> PERSONALIZAR menú</a>
              </div>
              <div class="edicion hidden">
                <a href="#" class="btn verde">Perfil</a>
                <a href="#" class="btn verde">Contraseña</a>
                <a href="#" class="btn verde">Reemplazar Token</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
              <div class="permisos hidden">
                <a href="#" class="btn verde">Cuentas Orígen</a>
                <a href="#" class="btn verde">Cuentas Destino</a>
                <a href="#" class="btn verde">Permisos Usuario</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
            </div>
          </div></div>

          <div class="bbot mb20"><div class="row mb20">
            <div class="col4 xs-col12"><a class="open-perm show-xs icon icon-right"></a>
              <p class="h6 row"><span class="col8"><strong>TESORERÍA</strong> - Supervisor </span><span class="col4"><span class="label bgturq">Activo</span></span></p>
              <p class="advertencia"><span class="h6 f-verdeO"> Token: 104877611 </span> </p>
            </div>
            <div class="col8 xs-col12 xs-left" align="right">
              <div class="acciones">
                <a class="btn gris mr10 btn-edit"><span class="icon icon-t-edit mr10"></span> editar</a>
                <a class="btn gris mr10 btn-permisos"><img class="mr10" src="assets/img/icons/permisos.svg" alt=""> Permisos</a>
                <a href="#" class="btn gris"><img class="mr10" src="assets/img/icons/list.svg" alt=""> PERSONALIZAR menú</a>
              </div>
              <div class="edicion hidden">
                <a href="#" class="btn verde">Perfil</a>
                <a href="#" class="btn verde">Contraseña</a>
                <a href="#" class="btn verde">Reemplazar Token</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
              <div class="permisos hidden">
                <a href="#" class="btn verde">Cuentas Orígen</a>
                <a href="#" class="btn verde">Cuentas Destino</a>
                <a href="#" class="btn verde">Permisos Usuario</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
            </div>
          </div></div>

          <div class="bbot mb20"><div class="row mb20">
            <div class="col4 xs-col12"><a class="open-perm show-xs icon icon-right"></a>
              <p class="h6 row"><span class="col8"><strong>TESORERIA2</strong> - Supervisor </span><span class="col4"><span class="label bgbb">Pendiente</span></span></p>
              <p class="advertencia"><span class="h6 f-verdeO"> Token: 116877623</span> </p>
            </div>
            <div class="col8 xs-col12 xs-left" align="right">
              <div class="acciones">
                <a class="btn gris mr10 btn-edit"><span class="icon icon-t-edit mr10"></span> editar</a>
                <a class="btn gris mr10 btn-permisos"><img class="mr10" src="assets/img/icons/permisos.svg" alt=""> Permisos</a>
                <a href="#" class="btn gris"><img class="mr10" src="assets/img/icons/list.svg" alt=""> PERSONALIZAR menú</a>
              </div>
              <div class="edicion hidden">
                <a href="#" class="btn verde">Perfil</a>
                <a href="#" class="btn verde">Contraseña</a>
                <a href="#" class="btn verde">Reemplazar Token</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
              <div class="permisos hidden">
                <a href="#" class="btn verde">Cuentas Orígen</a>
                <a href="#" class="btn verde">Cuentas Destino</a>
                <a href="#" class="btn verde">Permisos Usuario</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
            </div>
          </div></div>

          <div class="bbot mb20"><div class="row mb20">
            <div class="col4 xs-col12"><a class="open-perm show-xs icon icon-right"></a>
              <p class="h6 row"><span class="col8"><strong>SALTILLO</strong> - Supervisor </span><span class="col4"><span class="label bgrojo">Bloqueado</span></span></p>
              <p class="advertencia"><span class="h6 f-verdeO"> Token: 096877670</span> </p>
            </div>
            <div class="col8 xs-col12 xs-left" align="right">
              <div class="acciones">
                <a class="btn gris mr10 btn-edit"><span class="icon icon-t-edit mr10"></span> editar</a>
                <a class="btn gris mr10 btn-permisos"><img class="mr10" src="assets/img/icons/permisos.svg" alt=""> Permisos</a>
                <a href="#" class="btn gris"><img class="mr10" src="assets/img/icons/list.svg" alt=""> PERSONALIZAR menú</a>
              </div>
              <div class="edicion hidden">
                <a href="#" class="btn verde">Perfil</a>
                <a href="#" class="btn verde">Contraseña</a>
                <a href="#" class="btn verde">Reemplazar Token</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
              <div class="permisos hidden">
                <a href="#" class="btn verde">Cuentas Orígen</a>
                <a href="#" class="btn verde">Cuentas Destino</a>
                <a href="#" class="btn verde">Permisos Usuario</a>
                <a class="icon icon-close2 op50 mt10 ml10"></a>
              </div>
            </div>
          </div></div>

        </div>

      </div></div>

      <div class="col3 xs-col12 xs-p0"><div class="contenido admin">

        <div class="p15 pb10 bbot clearfix">
          <img class="fL mr10" src="assets/img/icons/destino.svg" height="21" width="21" alt="">
          <p class="h4 fL m0"><strong>CUENTAS DESTINO</strong></p>
        </div>
        <div class="s-item bbot2">
          <a href="#">Catálogo de Cuentas</a>
          <a href="#">Agregar Cuentas</a>
          <a href="#">Activación de Cuentas</a>
        </div>

        <div class="p15 pb10 bbot clearfix">
          <img class="fL mr10" src="assets/img/icons/admin.svg" height="19" width="21" alt="">
          <p class="h4 fL m0"><strong>ADMINISTRACIÓN</strong></p>
        </div>
        <div class="s-item bbot2">
          <a href="#">Aviso de Viaje</a>
          <a href="#">Consulta de Correo Electrónico</a>
          <a href="#">Cambiar Contraseña</a>
          <a href="#">Cambio de Alias</a>
          <a href="#">Activación de Cuentas</a>
          <a href="#">Asociación de Número Móvil</a>
        </div>

        <div class="p15 pb10 bbot clearfix">
          <p class="h4 fL m0"><span class="icon icon-search f-verdeO mr10"></span><strong>CONSULTAS</strong></p>
        </div>
        <div class="s-item bbot2">
          <a href="#">Reimpresión de Comprobantes</a>
          <a href="#">Resumen Privilegios</a>
          <a href="#">Consulta de Horarios</a>
          <a href="#">Consulta de Transacciones</a>
          <a href="#">Tarifas</a>
        </div>

      </div></div>

    </article>

  </div></section>

  <footer><div class="container"><img src="assets/img/photos/globo.png" id="globo">

    <div class="row mb40 flex">

      <div class="col6">
        <img src="assets/img/icons/logotipo-20.png" alt="20 años">
      </div>

      <div class="col5 pt15" align="right">
        <div class="dib">
          <h6>Atención telefónica<br><a href="tel:018002234763">01 800 22 34 763</a></h6>
        </div>
        <a href="#" class="btn btn-lg lima">AYUDA</a>
      </div>

    </div>

    <div class="row">

      <div class="col6">
        <strong>Derechos Reservados Afirme Grupo Financiero 2015.</strong><br>
        <a href="#">Aviso de Privacidad</a> | <a href="#">Términos Legales</a>
      </div>

      <div class="col5" align="right">
        <p class="h6">Sellos de Seguridad</p>
        <img class="ml20" src="assets/img/icons/verisign.jpg" alt="Verisign">
        <img class="ml20" src="assets/img/icons/amipci.jpg" alt="AMIPCI">
      </div>

    </div>

  </div></footer>

  <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script type="text/javascript">
    $('document').ready(function(){

      $('.btn-edit').click(function(){ $(this).closest('.acciones').hide().parent().find('.edicion').removeClass('hidden'); });
      $('.btn-permisos').click(function(){ $(this).closest('.acciones').hide().parent().find('.permisos').removeClass('hidden'); });
      $('.edicion .icon-close2, .permisos .icon-close2').click(function(){ $(this).parent().addClass('hidden').parent().find('.acciones').show(); });
      $('.open-perm').click(function(){ $(this).parent().next().slideToggle(); $(this).toggleClass('act'); });

    });
  </script>

</body>
</html>