<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" /> 
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" /> 
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="es-MX" />
  <meta name="title" content="" /> 
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="Language" content="Spanish" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="robots" content="all | index | follow" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=1300, user-scalable=yes">
  <title>Afirme | Detalle de cuenta - Cuenta Visión</title>
  
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/dropkick.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/cuentas.css" rel="stylesheet" type="text/css" />
  <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <header><div class="container">

    <div class="head-izq">
      <a id="logo" href="HOME_home-comercial.html"><img src="assets/img/icons/logotipo.png" alt="Afirme"></a>

      <a class="btn-menu">
        <span class="linea"></span><span class="linea"></span><span class="linea"></span>
        <span class="notificaciones">10</span>
      </a>
    </div>

    <div class="head-der">

      <div class="head-btns">
        <a class="avatar">
          <img src="assets/img/photos/avatar2.png" height="36" width="36" alt="Jessica Arévalo">
          <span class="notificaciones">10</span>
        </a>
        <a href="#" class="btn"><span class="txt">CERRAR SESIÓN</span><span class="icon icon-exit"></span></a>
      </div>
      <div class="head-datos">
        <p>¡Bienvenida! <strong>Ing. Jessica Andrea Lissette Arévalo Betancur</strong></p>
        <p class="f12">Contrato: <strong>1234567890</strong> Último acceso: <strong>25-nov-14, 16:30 hrs.</strong></p>
      </div>

    </div>

  </div></header>

  <section><div class="container">

    <article>

      <div class="col-izq min" id="menu-wrap">

        <nav>
          <div class="cerrar-menu">
            <p>Menú</p>
            <a class="close"></a><a class="close-sm"></a><a class="close-ssm"></a>
          </div>
          <ul>
            <li class="parent current">
              <a><span class="icon icon-search"></span><span>Consultas</span></a>
              <ul class="nivel-1">
                <li><a href="CONSULTAS_resumen-de-mis-cuentas.html">Saldos y Movimientos</a></li>
                <li><a href="ESTADODECUENTAELECTRONICO_activacion.html">Estado de Cuenta Electrónico</a></li>
                <li><a href="#">Historial de Operaciones</a></li>
                <li><a href="#">Mis Créditos</a></li>
              </ul>
            </li>
            <li class="parent">
              <a><span class="icon icon-transfer"></span><span>Transferencias</span></a>
              <ul class="nivel-1">
                <li class="menu-bc"><span>Transferencia</span></li>
                <li class="subparent">
                  <a href="#">Cuentas Afirme</a>
                  <ul class="nivel-2">
                    <li class="menu-bc"><span>Transferencia<br>Cuentas Afirme</span></li>
                    <li><a href="#">Cuentas Propias</a></li>
                    <li><a href="#">Cuentas Terceros</a></li>
                    <li class="subparent">
                      <a href="#">Traspaso Automático</a>
                    </li>
                    <li class="subparent">
                      <a href="#">Domingo Electrónico</a>
                      <ul class="nivel-3">
                        <li><a href="#">Programar</a></li>
                        <li><a href="#">Cancelar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="TRANSF_Nacionales.html">Bancos Nacionales</a></li>
                <li class="subparent">
                  <a href="#">Bancos Internacionales</a>
                  <ul class="nivel-2">
                    <li class="menu-bc"><span>Transferencia<br>Bancos Internacionales</span></li>
                    <li><a href="#">Dólares Americanos</a></li>
                    <li><a href="#">Multimoneda</a></li>
                    <li><a href="#">Posible Longitud</a></li>
                    <li><a href="#">Posible Longitud</a></li>
                    <li><a href="#">Posible Longitud</a></li>
                    <li><a href="#">Posible Longitud</a></li>
                    <li><a href="#">Posible Longitud</a></li>
                  </ul>
                </li>
                <li><a href="#">Envío de Dinero</a></li>
                <li><a href="#">Mis Favoritos</a></li>
                <li><a href="#">Guardadas</a></li>
              </ul>
            </li>
            <li class="parent"><a href="#"><span class="icon icon-money"></span><span>Pagos</span></a></li>
            <li class="parent"><a href="#"><span class="icon icon-wallet"></span><span>Nómina</span></a></li>
            <li class="parent">
              <a><span class="icon icon-oper"></span><span>Operaciones</span></a>
              <ul class="nivel-1">
                <li class="subparent">
                  <a href="#">Cartas Crédito</a>
                  <ul class="nivel-2">
                    <li><a href="#">Consulta</a></li>
                    <li><a href="#">Emisión</a></li>
                    <li><a href="#">Enmienda</a></li>
                  </ul>
                </li>
                <li><a href="TRANSF_Nacionales.html">Depósito Digital</a></li>
                <li class="subparent">
                  <a href="#">Depósito Cuenta Corriente</a>
                </li>
                <li class="subparent">
                  <a href="#">Débito Negocio</a>
                  <ul class="nivel-2">
                    <li><a href="#">Configuración Parámetros</a></li>
                    <li><a href="#">Consulta de Movimientos</a></li>
                    <li><a href="#">Activación de Tarjetas</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="parent"><a href="#"><span class="icon icon-graphic"></span><span>Inversiones</span></a></li>
            <li class="parent"><a href="#"><span class="icon icon-mobile"></span><span>Tiempo Aire</span></a></li>
            <li><a href="#"><span class="icon icon-conf"></span><span>Administración</span></a></li>
          </ul>
        </nav>

      </div>

      <div class="col-der relative">

        <div class="contenido"><div class="p20">

          <a href="#" class="cerrar"></a>

          <div class="bbotverde2 mb20"><h4 class="f-verde m0"><strong>Detalle de Movimientos</strong></h4></div>

          <div class="bbot pb10 mb20" align="center">
            <p class="h3 mb5"><strong>27 MARZO 2015</strong><span class="f21 ml20 op70">10 movimientos</span></p>
          </div>

          <div class="pb10"><div class="row">

            <div class="col6 clearfix">
              <h4 class="fL mr10">Grupo Villacero</h4>
              <h3 class="fL f-verde mt-5">$1,410,000.00 MXP</h3>
            </div>

            <div class="col6" align="right">
              <h6 class="op70">Cuenta Visión (806418412) - CLABE 062580008064184121</h6>
            </div>

          </div></div>

          <div class="tabs row mb30">
            <a href="CONSULTAS_RDMC_detalle.html" class="act col3">Últimos Movimientos</a>
            <a href="CONSULTAS_RDMC_todos.html" class="col3">Todos</a>
            <a href="CONSULTAS_RDMC_movimientos-retenidos-diferidos.html" class="col3">Retenidos / Diferidos</a>
            <a href="CONSULTAS_RDMC_movimientos-buscar.html" class="col3">Buscar</a>
          </div>

          <div class="mb40">
            <table class="t-mov">
              <thead><tr>
                <th width="46%">SÁBADO 13 JUNIO 2015</th>
                <th width="18%" align="right"><small>CARGOS</small></th>
                <th width="18%" align="right"><small>ABONO</small></th>
                <th width="18%" align="right"><small>SALDO</small></th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><strong>Traspaso de 806418412 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 432418445 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 521868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 905418477 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 923868771 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 661418473 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 806418412  </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 432418445 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 521868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 905418477 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 923868771 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 661418473 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
              </tbody>
            </table>
            <table class="t-mov">
              <thead><tr>
                <th width="46%">VIERNES 12 JUNIO 2015</th>
                <th width="18%" align="right"><small>CARGOS</small></th>
                <th width="18%" align="right"><small>ABONO</small></th>
                <th width="18%" align="right"><small>SALDO</small></th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><strong>Traspaso de 806418412 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 432418445 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 521868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 905418477 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 923868771 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
              </tbody>
            </table>
            <table class="t-mov">
              <thead><tr>
                <th width="46%">JUEVES 11 JUNIO 2015</th>
                <th width="18%" align="right"><small>CARGOS</small></th>
                <th width="18%" align="right"><small>ABONO</small></th>
                <th width="18%" align="right"><small>SALDO</small></th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><strong>Traspaso de 806418412 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
              </tbody>
            </table>
            <table class="t-mov">
              <thead><tr>
                <th width="46%">MIÉRCOLES 10 JUNIO 2015</th>
                <th width="18%" align="right"><small>CARGOS</small></th>
                <th width="18%" align="right"><small>ABONO</small></th>
                <th width="18%" align="right"><small>SALDO</small></th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><strong>Traspaso de 806418412 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso a 879868755 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro">-$5,000.00</td>
                  <td align="right" class="abono"></td>
                  <td align="right">$170,000.00</td>
                </tr>
                <tr>
                  <td><strong>Traspaso de 432418445 </strong><br><small>Referencia 123456, Fecha de Aplicación 24-12-2015, Ciudad San Nicolás de los Garza</small></td>
                  <td align="right" class="retiro"></td>
                  <td align="right" class="abono">$1,240,000.00</td>
                  <td align="right">$1,410,000.00</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col6">
              <div class="pag"><ul>
                <li><a href="#" class="disabled">|<span class="icon icon-left"></span> <span class="hide-xs">PRIMERA</span></a></li>
                <li><a href="#" class="disabled"><span class="icon icon-left"></span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" class="hide-xs">4</a></li>
                <li><a href="#" class="hide-xs">5</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#" class="f-verde"><span class="icon icon-right"></span></a></li>
                <li><a href="#" class="f-verde"><span class="hide-xs">ÚLTIMA</span> <span class="icon icon-right"></span>|</a></li>
              </ul></div>
            </div>
            <div class="col6" align="right">
              <div class="btn-exp mr20">
                <a href="#">EXPORTAR</a>
                <select name="tipo-archivo" class="drop">
                  <option>CSV</option>
                  <option>PDF</option>
                </select>
              </div>
              <a href="#" class="btn verde hide-xs">IMPRIMIR</a>
            </div>
          </div>     

        </div></div>

      </div>

    </article>

  </div></section>

  <footer><div class="container"><img src="assets/img/photos/globo.png" id="globo">

    <div class="row mb40 flex">

      <div class="col6">
        <img src="assets/img/icons/logotipo-20.png" alt="20 años">
      </div>

      <div class="col5 pt15" align="right">
        <div class="dib">
          <h6>Atención telefónica<br><a href="tel:018002234763">01 800 22 34 763</a></h6>
        </div>
        <a href="#" class="btn btn-lg lima">AYUDA</a>
      </div>

    </div>

    <div class="row">

      <div class="col6">
        <strong>Derechos Reservados Afirme Grupo Financiero 2015.</strong><br>
        <a href="#">Aviso de Privacidad</a> | <a href="#">Términos Legales</a>
      </div>

      <div class="col5" align="right">
        <p class="h6">Sellos de Seguridad</p>
        <img class="ml20" src="assets/img/icons/verisign.jpg" alt="Verisign">
        <img class="ml20" src="assets/img/icons/amipci.jpg" alt="AMIPCI">
      </div>

    </div>

  </div></footer>

  <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script type="text/javascript" src="assets/js/vendor/dropkick.js"></script>
  <script type="text/javascript">
    $('document').ready(function(){

      $('.drop').dropkick({ 
        mobile: true,
        change: function(){ 
          $(this.data.elem).find('.dk-selected').addClass('f-verde');
        }
      }); 

    });
  </script>

</body>
</html>